@import "tailwindcss";

.selector::-moz-range-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: 3px solid white;

}
.pop{
    opacity:0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    transform-origin: bottom;;
    
}
.pop.active{
    opacity:1;
    transform: scale(1);
}
.blow-shadow {
    box-shadow: 0 0 80px 60px rgba(255, 255, 255, 1);  /* Initial spread of the shadow */
    animation: boomShrink 1s ease-out forwards;  /* Shrinks and fades out */
}

@keyframes boomShrink {
    0% {
        box-shadow: 0 0 50px 30px rgba(255, 255, 255, 1);  /* Fully spread shadow */
    }
    100% {
        box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0);  /* Shrinks and disappears */
    }
}

.selector::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: 3px solid white;
}